<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normilize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>BeautyRank</title>
</head>

<body class="first-page-body">
<main class="main">
    <div class="container avorization-container">
        <img class="logo" src="{% static 'img/logo.svg' %}" alt="Логотип">
        <h1 class="welcome-title">Добрый день!</h1>
        <form method="post" class="avtorization__form">
            {% csrf_token %}
            <label class="avtorization__label" for="message-code">Введите свой номер телефона, чтобы войти</label>
            <input name="phone" class="avtorization__input" type="tel" maxlength="11" id="message-code" placeholder="79885151555" pattern="[7-8]{1}[0-9]{10}">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <button type="submit" class="avtorization__button">Получить код</button>
        </form>
    </div>
</main>
</body>

</html>