<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normilize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'lightbox2\css/lightbox.min.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Результаты</title>
</head>

<body class="{% if job.member.user == user_request %}evaluations-body{% else %} evaluations-body evaluations-body--purple {% endif %}">
<main class="main">
    <div class="container">
        <a href="{% url 'master_page' %}" class="go-back">
            Назад
        </a>
        <h1 class="assessment__title">Оценки судей</h1>
        <p class="user-name">Мастер - {{job.member.user.first_name}} {{job.member.user.last_name}}</p>
                <ul class="assessment__before-after_list">
    <li class="before-after__item">
        <span>ДО</span>
        <div>
            {% for photo in photos.BE %}
                <figure>
                    <a href="{{ photo.url }}" data-lightbox="before/after">
                        <img src="{{ photo.url }}" alt="">
                    </a>
                    <figcaption>{{ photo.name }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </li>
    <li class="before-after__item">
        <span>ПОСЛЕ</span>
        <div>
            {% for photo in photos.AF %}
                <figure>
                    <a href="{{ photo.url }}" data-lightbox="before/after">
                        <img src="{{ photo.url }}" alt="">
                    </a>
                    <figcaption>{{ photo.name }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </li>
</ul>
        <h2 class="assessment__service"> {{job.category_nomination.nomination.name}}
            {{job.category_nomination.event_category.category.name}} </h2>
        <div class="evaluations-form">
            <ul class="evaluation-grid">
                <li class="evaluations-name-list">
                    {% for score in scores %}
                    <p class="evaluations-name--referee">{{score.name}}</p>
                    {% endfor %}
                </li>
                <li class="evaluations-list--referee">
                    <ul style="display: table;">
                        {% for score in scores %}
                        <li class="evaluations-item--referee">
                            <div>
                                <div class="evaluations-block--referee">
                                    {% for value in score.values %}
                                    <label>
                                        <input disabled class="evulation-radio evaluation-judge visually-hidden"
                                               type="radio">
                                        <span>{{value}}</span>
                                    </label>
                                    {% endfor %}
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                        <li class="judge-list">
                            {% for staff in staffs %}
                            <div class="judge-item">
                                {{staff.user}}
                            </div>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</main>
<script src="js/evaluationsSize.js"></script>
<script>

    lightbox.option({
        'albumLabel': "%1 %2",
        'alwaysShowNavOnTouchDevices': true,
        'fadeDuration': 0,
        'imageFadeDuration': 0,
        'resizeDuration': 0,
        'wrapAround': true
    })


</script>
</body>
</html>