<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normilize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'lightbox2\css/lightbox.min.css' %}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Результаты</title>
</head>

<body>
<main class="main">
    <div class="container">
        <a href="{% url 'master_page' %}" class="go-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="16" viewBox="0 0 26 16" fill="none">
                <path d="M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM26 7L1 7V9L26 9V7Z"
                      fill="black"/>
            </svg>
        </a>
        <h1 class="assessment__title">Оценки судей</h1>
        <p class="user-name">Мастер - {{job.member.user.first_name}} {{job.member.user.last_name}}</p>
        <ul class="assessment__before-after_list">
            <li class="before-after__item">
                <span>ДО</span>
                <div>
                    <figure>
                        <a href="{{ job.photo_1.url }}" data-lightbox="before/after">
                            <img src="{{ job.photo_1.url }}" alt="">
                        </a>
                        <figcaption>лицо</figcaption>
                    </figure>
                    <figure>
                        <a href="{{ job.photo_2.url }}" data-lightbox="before/after">
                            <img src="{{ job.photo_2.url }}" alt="">
                        </a>
                        <figcaption>зона ПМ</figcaption>
                    </figure>
                </div>
            </li>
            <li class="before-after__item">
                <span>ПОСЛЕ</span>
                <div>
                    <figure>
                        <a href="{{ job.photo_3.url }}" data-lightbox="before/after">
                            <img src="{{ job.photo_3.url }}" alt="">
                        </a>
                        <figcaption>лицо</figcaption>
                    </figure>
                    <figure>
                        <a href="{{ job.photo_4.url }}" data-lightbox="before/after">
                            <img src="{{ job.photo_4.url }}" alt="">
                        </a>
                        <figcaption>зона ПМ</figcaption>
                    </figure>
                </div>
            </li>
        </ul>
        <h2 class="assessment__service"> {{job.category_nomination.nomination.name}}
            {{job.category_nomination.event_category.category.name}} </h2>
        <div class="evaluations-form">
               <ul class="evaluation-grid">
                    <li class="evaluations-name-list">
                         {% for score in scores %}
                        <p class="evaluations-name--referee">{{score.name}}</p>
                        {% endfor %}
                    </li>
                   <li class="evaluations-list--referee">
                       <ul style="display: table;">
                           {% for score in scores %}
                           <li class="evaluations-item--referee">
                               <div>
                                    <div class="evaluations-block--referee">
                                        {% for value in score.values %}
                                        <label>
                                            <input disabled class="evulation-radio evaluation-judge visually-hidden" type="radio">
                                            <span>{{value}}</span>
                                        </label>
                                        {% endfor %}
                                        {% endfor %}
                                    </div>
                               </div>
                           </li>
                             <li class="judge-list" >
                                  {% for staff in staffs %}
                                  <div class="judge-item">
                                    {{staff.user}}
                                 </div>
                                 {% endfor %}
                             </li>
                       </ul>
                   </li>
            </ul>
        </div>
    </div>
</main>
<script src="{% static 'lightbox2\js\lightbox-plus-jquery.js' %}"></script>
<script src="js/evaluationsSize.js"></script>
<script>

    lightbox.option({
  'albumLabel': "%1 %2",
  'alwaysShowNavOnTouchDevices': true,
  'fadeDuration': 0,
  'imageFadeDuration': 0,
  'resizeDuration': 0,
  'wrapAround': true
})





</script>
</body>
</html>