<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normilize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Страница судьи</title>
</head>

<body>
<main class="main">
    <div class="container">
        <img class="user-avatar" src="{{ request.user.image.url }}" alt="Аватар Судьи">
        <p class="user-name">{{request.user.first_name}} {{request.user.last_name}}</p>
        <h1 class="user-post">Судья</h1>
        <p class="user-action">Выберите модель для оценки работы</p>
        <ul class="masters-list">
            {% for job in jobs %}
            <li class="master">
                <a href="{% url 'referee_assessment' pk=job.id %}">
                    <div>
                        <span class="master__number">№{{ job.id }}</span>
                        <div class="master__service-block">
                            <p class="master__service">{{ job.category_nomination.nomination.name }}
                                {{job.category_nomination.event_category.category.name}}</p>
                            <span class="master__scores">
                                {{job.result}}б.
                            </span>
                        </div>
                        <div>
                            <img class="master__avatar" src="{{job.photo_1.url}}" alt="Фото модели">
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>


</body>

</html>