<!DOCTYPE html>
<html lang="ru">
{% load event_helpers %}
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/normilize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'lightbox2\css/lightbox.min.css' %}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Оценка участника</title>
</head>

<body class="judge-assessment-body">
<main class="main">
    <div class="container">
        <a href="{% url 'referee_page' %}" class="go-back go-back-assessment">
            Назад
        </a>
        <h1 class="assessment__title">Оцените участника</h1>
        {% if job.category_nomination.nomination.name in nominations_with_two_photo %}
        {% include 'events/widgets/twomainphoto.html' %}
        {% else %}
        {% include 'events/widgets/onemainphoto.html' %}
        {% endif %}
        <h2 class="assessment__service">{{job.category_nomination.nomination.name}}
            {{job.category_nomination.event_category.category.name}}</h2>
        <form class="evaluations-form">
            {% csrf_token %}
            <ul class="evaluations-list">
                {% for attribute in attributes %}
                <li class="evaluations-item">
                    <p class="evaluations-name">{{attribute.name}}</p>
                    <div class="evaluations-block">
                        {% with ''|center:attribute.max_score as range %}
                        {% for _ in range %}
                        <label>
                            {% if attribute.name != 'Работа со сложностью' %}
                            <input required class="evulation-radio visually-hidden" value="{{forloop.counter}}"
                                   type="radio"
                                   {% if job.results_for_staff %}
                                   {% get_score scores.score_retail attribute.name forloop.counter %}
                                   {% endif %}
                                   name="{{attribute.name}}">
                            <span>{{forloop.counter}}</span>
                            {% else %}
                            <input required class="evulation-radio visually-hidden evaluation--complexity"
                                   value="{{forloop.counter0}}"
                                   type="radio"
                                   {% if job.results_for_staff %}
                                   {% get_score scores.score_retail attribute.name forloop.counter0 %}
                                   {% endif %}
                                   name="{{attribute.name}}">
                            <span>{{forloop.counter0}}</span>
                            {% endif %}
                        </label>
                        {% endfor %}
                        {% endwith %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <p class="total-points">Сумма баллов: <span id="balls">0</span></p>
            {% if job.results_for_staff == 0 %}
            <button type="button" class="total-points-button open-modal">Подтвердить</button>
            {% else %}
            <button style="display: none" type="button" class="total-points-button open-modal">Подтвердить</button>
            {% endif %}
        </form>
    </div>
    <div class="judge-modal visually-hidden">
        <button type="button" class="close-judge-modal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 16 15" fill="none">
                <path d="M1.35492 14.438L14.938 0.85491M1.35352 0.646484L14.9366 14.2296" stroke="black"
                      stroke-linecap="round"/>
            </svg>
        </button>
        <div class="before-after__item">
            <span>ПОСЛЕ</span>
            <div>
                <figure>
                    <a href="{{ job.photo_3.url }}" data-lightbox="after-model">
                        <img src="{{ job.photo_3.url }}" alt="">
                    </a>
                    <figcaption>лицо</figcaption>
                </figure>
                <figure>
                    <a href="{{ job.photo_4.url }}" data-lightbox="after-model">
                        <img src="{{ job.photo_4.url }}" alt="">
                    </a>
                    <figcaption>зона ПМ</figcaption>
                </figure>
            </div>
        </div>
        <h2 class="assessment__service" style="margin-top: 10px;">{{job.category_nomination.nomination.name}}
            {{job.category_nomination.event_category.category.name}}</h2>
        <p class="total-points" style="margin-top: -15px;">Сумма баллов: <span id="ballsModal">27</span></p>
        <p class="total-points" style="margin-top: -15px;">Дать комментарий <a id="whatsapphref"
                                                                               href="https://api.whatsapp.com/send/?phone={{job.member.user.phone_number}}&text=Добрый день, {{job.member.user.first_name}}!+Я+оценила+вашу+работу+в+номинации+{{job.category_nomination.nomination.name}}.">
            <img
                    class="whatsApp-logo"
                    src="{% static 'img/whatsApp.png' %}"></a>
        </p>
        <form action="" method="post">
            {% csrf_token %}
            {% for attribute in attributes %}
            <input class="attributeValue" name="{{attribute.name}}" id="{{attribute.name}}" type="hidden">
            {% endfor %}
            <button id="send" type="submit" class="total-points-button">Отправить</button>
        </form>
    </div>
    <div class="blur visually-hidden"></div>
</main>
<script>

    let a = document.querySelectorAll('.evulation-radio')
    let b = document.querySelectorAll('.attributeValue')

    for (const i of a) {
        i.addEventListener('click', () => {
            for (const j of a) {
                if (j.checked) {
                    for (const k of b) {
                        if (k.name === j.name) {
                            k.value = `${j.value}`
                        }
                    }
                }
            }
        })
    }


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/judgeScript.js' %}"></script>
<script src="{% static 'lightbox2\js\lightbox-plus-jquery.js' %}"></script>
<script>
    lightbox.option({
        'albumLabel': "%1 %2",
        'alwaysShowNavOnTouchDevices': true,
        'fadeDuration': 0,
        'imageFadeDuration': 0,
        'resizeDuration': 0,
        'wrapAround': true
    })


</script>
</body>
</html>