<ul class="assessment__before-after_list">
    <li class="before-after__item">
        <span>ДО</span>
        <div>
            <figure>
                <a href="{{ job.photo_1.url }}" data-lightbox="before/after">
                    <img src="{{ job.photo_1.url }}" alt="">
                </a>
                <figcaption>лицо</figcaption>
            </figure>
        </div>
    </li>
    <li class="before-after__item">
        <span>ПОСЛЕ</span>
        <div>
            <figure>
                <a href="{{ job.photo_2.url }}" data-lightbox="before/after">
                    <img src="{{ job.photo_2.url }}" alt="">
                </a>
                <figcaption>лицо</figcaption>
            </figure>
            <figure>
                <a href="{{ job.photo_3.url }}" data-lightbox="before/after">
                    <img src="{{ job.photo_3.url }}" alt="">
                </a>
                <figcaption>зона ПМ</figcaption>
            </figure>
            <figure>
                <a href="{{ job.photo_4.url }}" data-lightbox="before/after">
                    <img src="{{ job.photo_4.url }}" alt="">
                </a>
                <figcaption>зона ПМ</figcaption>
            </figure>
        </div>
    </li>
</ul>