@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src:
    url("../fonts/SF-Pro-Display-Regular.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src:
    url("../fonts/SF-Pro-Display-Medium.otf") format("otf"),
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 800;
  src:
    url("../fonts/SF-Pro-Display-Heavy.otf") format("otf"),
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}



h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.close-modal {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button, input {
  font-family: 'SF Pro Display', sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
 background-color: #959595;
}

button:disabled:active {
  transform: scale(1);
}

body {
  font-family: 'SF Pro Display', sans-serif;
  margin: 0 auto;
  padding: 0;
  min-width: 375px;
  position: relative;
  height: 100vh;
  background-attachment: fixed !important;
}

/* BACKGROUNDS */
.first-page-body {
  /* background: radial-gradient(56.14% 58.22% at 75.54% 22.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat,
  #FFE8DF top center/100% 100% no-repeat;  */
  background: linear-gradient(180deg, #FFFFEA 45.69%, #FF55A0 117.73%);
}

.confirmation-body {
  /* background: radial-gradient(56.14% 58.22% at 35.54% 40.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat,
  #FFE8DF top center/100% 100% no-repeat;  */
  background: linear-gradient(180deg, #FFFFEA 44.83%, #FF55A0 105.91%);
}

.photo-selection-body {
  /* background: radial-gradient(56.14% 58.22% at 18.54% 20.42%,#FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat,
  #FFE8DF top center/100% 100% no-repeat;  */
  background: linear-gradient(180deg, #FFFFEA 44.83%, #FF55A0 105.91%);
  min-width: 320px;
}

.photo-selection-body:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 75px 0;
  border-color: transparent #c76690 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}

/* .photo-selection-body:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 110px 110px 0;
  border-color: transparent #c76690 transparent transparent;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotate(90deg);
} */

.judge-page-body {
  background: linear-gradient(155deg, #FFFFEA 48.82%, #FF55A0 111.42%);
  /* background: radial-gradient(56.14% 58.22% at 85.54% 20.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat */
}

.judge-assessment-body {
  background: linear-gradient(182deg, #FFFFEA 58.76%, #FF55A0 124.14%);
  /* background: radial-gradient(56.14% 58.22% at 15.54% 20.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat */
}

.master-page-body {
  background: linear-gradient(155deg, #FFFFEA 48.82%, #FF55A0 111.42%);
  /* background: radial-gradient(56.14% 58.22% at 85.54% 20.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat */
}

.upload-photo-body {
  background: linear-gradient(350deg, #FFFFEA 0.59%, #FF55A0 161.13%);
  /* background: radial-gradient(56.14% 58.22% at 50.54% 45.42%, #FF55A0 0%, #FFE8DF 57.99%, #FAFAFA 91.5%) top center/2000px 2000px no-repeat */
}

.evaluations-body{
  background: linear-gradient(196deg, #FFFFEA 34.9%, #FF55A0 211.19%);
}

.evaluations-body main:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 150px 75px 0;
  border-color: transparent #c76690 transparent transparent;
  right: 0;
  top: 0;
  position: absolute;
}
.container {
  padding: 0 15px;
  max-width: 395px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  position: relative;

}

.go-back {
  position: absolute;
  left: 9px;
  top: 40px;
  text-decoration: none;
  color: #282828;
  font-size: 14px;
  font-weight: 500;
}

.go-back-assessment {
  top: 30px;
}

/* MODIFIER */

.master--rated .master__content{
  width: 100%;
  background: rgba(189, 255, 173, 0.74);
}

/* MAIN */

.welcome-title {
  font-size: 24px;
  font-weight: 800;
  color: #959595;
  margin: 45px 20px 20px;
}

main {
  margin-bottom: 53px;
  position: relative;
}

.logo {
  margin-top: 100px;
}

/* AVTORIZATION */

.avtorization__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  width: 100%;
}

.avtorization__label {
  font-size: 14px;
  font-weight: 500;
  color: #959595;
  position: relative;
  width: 290px;
  text-align: center;
}

.avtorization__input {
  border-radius: 50px;
  border: 1px solid #FF3E9B;
  width: 100%;
  background-color: transparent;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  padding: 0 10px 0 63px;
}

.avtorization__input:focus {
  outline: 1px solid #FF3E9B;
  -webkit-box-shadow: 0px 10px 20px #ffb8da;
          box-shadow: 0px 10px 20px #ffb8da;
}

.avtorization__input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  opacity: .7;
}

.avtorization__input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  opacity: .7;
}

.avtorization__input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  opacity: .7;
}

.avtorization__input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  opacity: .7;
}

.avtorization__input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #FF3E9B;
  opacity: .7;
}

.avtorization__label::before {
  content: "";
  background-image: url(../img/mail.svg);
  width: 19.403px;
  height: 20px;
  position: absolute;
  top: 59px;
  left: -10px;
}

.avtorization__button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background: #FF3E9B;
  border: 0;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.avtorization__button:active {
  -webkit-transform: scale(.8);
      -ms-transform: scale(.8);
          transform: scale(.8);
}

/* CONFIRMATION */

.confirmation__label::before {
  content: "";
  background-image: url(../img/lock.svg);
  width: 19.403px;
  height: 20px;
  position: absolute;
  top: 59px;
  left: -5px;
}

/* PHOTO-SELECTION */

.photo-selection__label::before {
  content: none;
}

.input-file {
	position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.input-file span {
	position: relative;
  color: #FF3E9B;
  font-size: 14px;
  font-weight: 500;
	border-radius: 4px;
	background-color: transparent;
	height: 50px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #FF3E9B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* JUDGE-PAGE */

.judge-avatar {
  margin-top: 95px;
}

.user-avatar {
  width: 109px;
  height: 111px;
  margin-top: 20px;
  border-radius: 50%;
}

.master__avatar {
  border: 0.01px solid #00000094;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.master__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  margin-top: 6px;
  color:#959595;
  font-size: 14px;
  font-weight: 500;
}

.user-post {
  color:#282828;
  font-size: 24px;
  font-weight: 800;
  margin: 14px;
}

.user-action {
  color:#959595;
  font-size: 14px;
  font-weight: 500;
}

.masters-list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 285px;
  overflow-y: scroll;
  margin-bottom: 25px;
  padding-right: 10px;
}

.masters-list--other{
max-height:217px;
}

.masters-list::-webkit-scrollbar {
  display: block;
  width: 12px;
}

.masters-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ff3e9ba6;
  box-shadow: 0px 2px 5px 0px rgba(255, 0, 138, 0.50);
}

.masters-list::-webkit-scrollbar-track-piece:end {
  background: #d0d0d08a;
  margin-bottom: 50px;
  border: 0.2px solid #00000010;
  border-radius: 3px;
}

.masters-list::-webkit-scrollbar-track-piece:start {
  background: #d0d0d08a;
  margin-top: 50px;
  border: 0.2px solid #00000010;
  border-radius: 3px;
}

.masters-list--judge {
  max-height: 400px;
  overflow-y: auto;
}

.masters-list--other .master__content{
  background: rgba(219, 173, 255, 0.74);
}

.master {
  border-top: 1px solid #959595;
  padding: 4.5px 0;
}

.master > a > div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  width: 100%;
  padding: 3px 18px 3px 29px;
  background: rgba(255, 255, 255, 0.30);
  border-radius: 10px;
}

.master > a{
  text-decoration: none;
}

.master__service-block {
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master__number {
  color: #FF3E9B;
  font-size: 24px;
  font-weight: 500;
  width: 40px;
}

.master__service {
  text-align: center;
  color: #959595;
  font-size: 14px;
  font-weight: 500;
  width: 167px;
  text-align: center;
}

.master__scores {
  color: #494949;
  font-size: 16px;
  font-weight: 800;
  width: 167px;
  text-align: center;
}

/* ASSESSMENT */

.blur {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  /* background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);  */
  background: rgba(243, 243, 243, 0.63);
  height: 100vh;
  width: 100%;
}

.judge-modal {
  width: 269px;
  min-height: 276px;
  border-radius: 11px;
  border: 1px solid #fd76b53d;
  backdrop-filter: blur(2px);
  background-color: rgba(245, 245, 245, 0.3);
  position: absolute;
  top: 280px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px;
}

.judge-modal a{
  opacity: 1;
}

.judge-modal .total-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.judge-modal .total-points:first-of-type {
  margin-bottom: 20px;
  padding-right: 3px;
}

.close-judge-modal {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 6px;
  top: 8px;
}

.whatsApp-logo {
  position: relative;
  left: 6px;
}

.judge-modal .before-after__item {
  border-right: 0 !important;
}

.assessment__before-after_list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
}

.before-after__item{
  text-align: center;
}

.before-after__item:first-child{
  border-right: 1px solid #959595;
  padding-right: 9px;
}

.before-after__item div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.before-after__item span{
  color: #494949;
  font-size: 14px;
  font-weight: 700;
}

.before-after__item figure{
  text-align: center;
  margin: 0;
}

.before-after__item figure img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.before-after__item figcaption{
  color: #494949;
  font-size: 14px;
  font-weight: 500;
}

.assessment__title {
  margin-top: 60px;
  margin-bottom: 10px;
  color: #282828;
  font-size: 24px;
  font-weight: 800;
}

.assessment__service {
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  margin: 22px;
  text-align: center;
}

/* EVULATIONS */
.evaluations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.evaluations-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 9px;
  border-bottom: 1px solid #95959580;
}

.evaluations-name {
  color:#282828;
  font-size: 14px;
  font-weight: 400;
}

.evaluations-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background: rgba(243, 243, 243, 0.50);
  border: 0.5px solid rgba(102, 102, 102, 0.40);
}

.evaluations-list--referee{
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.evaluations-list--referee ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.evaluations-name-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: space-between;
  padding-bottom: 130px;
}

.evaluation-grid {
  display: flex;
}

.evaluations-list--referee::-webkit-scrollbar {
  display: block;
  height: 10px;
}

.evaluations-list--referee::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ff3e9ba6;
  box-shadow: 0px 2px 5px 0px rgba(255, 0, 138, 0.50);
}

.evaluations-list--referee::-webkit-scrollbar-track-piece:end {
  background: #d0d0d08a;
  margin-bottom: 50px;
  border: 0.2px solid #00000010;
  border-radius: 3px;
}

.evaluations-list--referee::-webkit-scrollbar-track-piece:start {
  background: #d0d0d08a;
  margin-top: 50px;
  border: 0.2px solid #00000010;
  border-radius: 3px;
}

.evaluations-item--referee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

.evaluations-item--referee > div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: center;
}

.evaluations-item--referee:not(:first-of-type)::after {
  position: absolute;
  content: "";
  background-color: #95959580;
  height: 1px;
  width: 93%;
  left: 14px;
  z-index: 10;
}

.evaluations-name--referee {
  color:#282828;
  font-size: 14px;
  min-width: 140px;
  font-weight: 400;
  max-width: 155px;
  display: flex;
  align-items: center;
  min-height: 60px;
}

.evaluations-block--referee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid rgba(102, 102, 102, 0.40);
  background: rgba(243, 243, 243, 0.50);
  border-radius: 5px;
}

.evulation-radio + span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #494949;
  font-size: 24px;
  font-weight: 500;
  width: 43px;
  height: 29px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.evulation-radio:disabled + span {
  opacity: .3;
}

.evaluation-judge:disabled + span {
  opacity: 1;
}

.evaluations-block--referee label:not(:last-of-type) span:last-child::after,.evaluations-block label:not(:last-of-type) span:last-child::after  {
  content: "";
  background-color: rgba(149, 149, 149, 0.16);
  width: 1px;
  height: 20px;
  z-index: 1;
  position: absolute;
  right: -1px;
}

.evulation-radio:checked + span {
  color: #fff;
  background-color: #FF3E9B;
  opacity: 0.699999988079071;
}

.evaluation--complexity + span {
  width: 107px;
}

.judge-list {
  writing-mode: vertical-lr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
  width: 100%;
}

.total-points {
  margin-top: 18px;
  color: #494949;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 18px auto 8px;
}

.total-points span{
  font-size: 20px;
}

.total-points-button {
  border-radius: 5px;
  opacity: 0.699999988079071;
  background: #FF3E9B;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  width: 150px;
  height: 37px;
  border: 0;
  margin: 0 auto;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total-points-button:active {
-webkit-transform: scale(.8);
    -ms-transform: scale(.8);
        transform: scale(.8);
}

.evaluations-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

/* UPLOAD-PHOTO */

.upload-photo-input {
	position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.upload-photo-input img {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.upload-photo-input input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.upload-photo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload-photo-button {
  margin-top: 75px;
}

.upload-photo-container {
  padding-top: 90px;
}

.upload-photo-background {
  width: 375px;
  height: 169px;
  margin-bottom: 15px;
}

/* CHECKMARK */

.checkMark-title {
  color: #f3f3f3;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-top: 15px;
}

.checkMark {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  padding-top: 260px;
  background:  url(../img/stripes.svg) top center no-repeat,
  linear-gradient(180deg, #FFFFEA -9.83%, #FFCDD4 25.05%, #FFA4C2 54.11%, #FF55A0 106.87%);
  /* radial-gradient(56.14% 58.22% at 55.54% 25.42%, #FF55A0 0%,#FFE8DF 50.65%) top center/2000px 2000px no-repeat; */
  height: 100vh;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 1;
  stroke-miterlimit: 10;
  stroke: #fff;
  fill: none;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
          animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 120px;
  border-radius: 50%;
  display: block;
  stroke-width: 1;
  stroke: #33cccc;
  stroke-miterlimit: 10;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 0px 0px #fff;
          box-shadow: inset 0px 0px 0px #fff;
  -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
          animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

/* LIGHTBOX */

.dots-container {
  position: relative;
  top: 5px;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .5s ease;
}

.dot--active{
    background: #FF3E9B;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes scale {
  0%, 100% {
    -webkit-transform: none;
            transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
            transform: scale3d(1.1, 1.1, 1);
  }
}
@-webkit-keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px #000;
            box-shadow: inset 0px 0px 0px 30px #000;
  }
}
@keyframes fill {
  100% {
    -webkit-box-shadow: inset 0px 0px 0px 30px transparent;
            box-shadow: inset 0px 0px 0px 30px transparent;
  }
}
